.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.style-button {
  margin-left: 10px;
  width: 55px;
  border-radius: 7px;
  height: 25px;
  text-align: center;
}

.lengthandMass{
  font-size: 20px;
}